In [51]:
import pandas as pd
from uszipcode import SearchEngine

In [52]:
search = SearchEngine(simple_zipcode=False)

Start downloading data for rich info zipcode database, total size 450+MB ...
  10 MB finished ...
  20 MB finished ...
  30 MB finished ...
  40 MB finished ...
  50 MB finished ...
  60 MB finished ...
  70 MB finished ...
  80 MB finished ...
  90 MB finished ...
  100 MB finished ...
  110 MB finished ...
  120 MB finished ...
  130 MB finished ...
  140 MB finished ...
  150 MB finished ...
  160 MB finished ...
  170 MB finished ...
  180 MB finished ...
  190 MB finished ...
  200 MB finished ...
  210 MB finished ...
  220 MB finished ...
  230 MB finished ...
  240 MB finished ...
  250 MB finished ...
  260 MB finished ...
  270 MB finished ...
  280 MB finished ...
  290 MB finished ...
  300 MB finished ...
  310 MB finished ...
  320 MB finished ...
  330 MB finished ...
  340 MB finished ...
  350 MB finished ...
  360 MB finished ...
  370 MB finished ...
  380 MB finished ...
  390 MB finished ...
  400 MB finished ...
  410 MB finished ...
  420 MB finished ...
  430 MB finished ...
  440 MB finished ...
  Complete!

In [53]:
df = pd.read_csv('tj_zips.csv')

In [54]:
df = df.iloc[:, :4]

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74006 entries, 0 to 74005
Data columns (total 4 columns):
Zip Code                    41319 non-null object
City                        41319 non-null object
State                       41319 non-null object
Population (2010 Census)    33498 non-null object
dtypes: object(4)
memory usage: 2.3+ MB

In [45]:
df['pop_2010'] = [search.by_zipcode(str(z)).population for z in df['Zip Code']]

In [50]:
df[df.pop_2010.isna()]

      Zip Code        City State Population (2010 Census)  pop_2010
20       99509   Anchorage    AK                      NaN       NaN
22       99511   Anchorage    AK                      NaN       NaN
24       99514   Anchorage    AK                        0       NaN
30       99520   Anchorage    AK                       --       NaN
31       99521   Anchorage    AK                       --       NaN
32       99522   Anchorage    AK                       --       NaN
33       99523   Anchorage    AK                       --       NaN
34       99524   Anchorage    AK                       --       NaN
35       99529   Anchorage    AK                       --       NaN
36       99530   Anchorage    AK                       --       NaN
38       99599   Anchorage    AK                       --       NaN
48       99821    Auke Bay    AK                       --       NaN
49       99711      Badger    AK                       --       NaN
88       99731   Delta Jct    AK                       --       NaN
98       99950    Edna Bay    AK                       --       NaN
107      99725       Ester    AK                       --       NaN
110      99707   Fairbanks    AK                       --       NaN
111      99708   Fairbanks    AK                       --       NaN
113      99710   Fairbanks    AK                       --       NaN
116      99716   Fairbanks    AK                       --       NaN
147      99802      Juneau    AK                       --       NaN
148      99803      Juneau    AK                       --       NaN
149      99811      Juneau    AK                       --       NaN
150      99812      Juneau    AK                       --       NaN
151      99850      Juneau    AK                       --       NaN
156      99608      Karluk    AK                       --       NaN
160      99635       Kenai    AK                       --       NaN
170      99619      Kodiak    AK                       --       NaN
171      99697      Kodiak    AK                       --       NaN
172      99545  Kongiganak    AK                       --       NaN
...        ...         ...   ...                      ...       ...
73976      NaN         NaN   NaN                      NaN       NaN
73977      NaN         NaN   NaN                      NaN       NaN
73978      NaN         NaN   NaN                      NaN       NaN
73979      NaN         NaN   NaN                      NaN       NaN
73980      NaN         NaN   NaN                      NaN       NaN
73981      NaN         NaN   NaN                      NaN       NaN
73982      NaN         NaN   NaN                      NaN       NaN
73983      NaN         NaN   NaN                      NaN       NaN
73984      NaN         NaN   NaN                      NaN       NaN
73985      NaN         NaN   NaN                      NaN       NaN
73986      NaN         NaN   NaN                      NaN       NaN
73987      NaN         NaN   NaN                      NaN       NaN
73988      NaN         NaN   NaN                      NaN       NaN
73989      NaN         NaN   NaN                      NaN       NaN
73990      NaN         NaN   NaN                      NaN       NaN
73991      NaN         NaN   NaN                      NaN       NaN
73992      NaN         NaN   NaN                      NaN       NaN
73993      NaN         NaN   NaN                      NaN       NaN
73994      NaN         NaN   NaN                      NaN       NaN
73995      NaN         NaN   NaN                      NaN       NaN
73996      NaN         NaN   NaN                      NaN       NaN
73997      NaN         NaN   NaN                      NaN       NaN
73998      NaN         NaN   NaN                      NaN       NaN
73999      NaN         NaN   NaN                      NaN       NaN
74000      NaN         NaN   NaN                      NaN       NaN
74001      NaN         NaN   NaN                      NaN       NaN
74002      NaN         NaN   NaN                      NaN       NaN
74003      NaN         NaN   NaN                      NaN       NaN
74004      NaN         NaN   NaN                      NaN       NaN
74005      NaN         NaN   NaN                      NaN       NaN

[41019 rows x 5 columns]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74006 entries, 0 to 74005
Data columns (total 5 columns):
Zip Code                    41319 non-null object
City                        41319 non-null object
State                       41319 non-null object
Population (2010 Census)    33498 non-null object
pop_2010                    32987 non-null float64
dtypes: float64(1), object(4)
memory usage: 2.8+ MB

In [47]:
df['pop_2010'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer