In [1]:
import pandas as pd
import numpy as np
from uszipcode import SearchEngine

In [2]:
# Instantiate a Zipcode object.
search = SearchEngine(simple_zipcode=False)

In [3]:
# Read in the file containing the zip codes.
df = pd.read_csv('tj_zips.csv')
df.head()

/Users/tjs/anaconda3/envs/zipcode/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,1,2,3,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Zip Code,City,State,Population (2010 Census),Unnamed: 4,Macro Test,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,99546,Adak,AK,326,NaN,326.0,NaN,NaN,NaN,NaN,NaN
1,99571,Adak,AK,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99615,Akhiok,AK,"12,899",NaN,NaN,NaN,NaN,NaN,NaN,https://factfinder.census.gov/faces/nav/jsf/pa...
3,99551,Akiachak,AK,627,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,99552,Akiak,AK,346,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
## Rename columns to make things a little easier.
df.rename(columns={'Zip Code': 'Zip_Code', 'Population (2010 Census)': 'Pop_2010' }, inplace=True)
## Replace 
df.Pop_2010.replace('--', np.nan, inplace=True)
df = df.iloc[:, :4]
df.head()

  Zip_Code      City State Pop_2010
0    99546      Adak    AK      326
1    99571      Adak    AK      160
2    99615    Akhiok    AK   12,899
3    99551  Akiachak    AK      627
4    99552     Akiak    AK      346

In [5]:
# Remove all rows that contain nan Zip_Code values
df.dropna(subset=['Zip_Code'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41319 entries, 0 to 41318
Data columns (total 4 columns):
Zip_Code    41319 non-null object
City        41319 non-null object
State       41319 non-null object
Pop_2010    26841 non-null object
dtypes: object(4)
memory usage: 1.6+ MB

In [6]:
# In the data, a row contains an invalid zip code.
df[df['Zip_Code'].str.contains(',')]

     Zip_Code       City State Pop_2010
5488   10,190  Littleton    CO      NaN

In [7]:
# Remove that row.
df.drop(df[df['Zip_Code'].str.contains(',')].index, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41318 entries, 0 to 41318
Data columns (total 4 columns):
Zip_Code    41318 non-null object
City        41318 non-null object
State       41318 non-null object
Pop_2010    26841 non-null object
dtypes: object(4)
memory usage: 1.6+ MB

In [8]:
# Convert column of zip codes to integers.
df['Zip_Code'] = df.Zip_Code.astype(np.int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41318 entries, 0 to 41318
Data columns (total 4 columns):
Zip_Code    41318 non-null int64
City        41318 non-null object
State       41318 non-null object
Pop_2010    26841 non-null object
dtypes: int64(1), object(3)
memory usage: 1.6+ MB

In [9]:
search.by_zipcode('92106')

Zipcode(zipcode_type='Standard', major_city='San Diego', post_office_city='San Diego, CA', common_city_list=['San Diego'], county='San Diego County', state='CA', lat=32.73, lng=-117.23, timezone='Pacific', radius_in_miles=2.0, area_code_list=['619'], population=19330, population_density=3426.0, land_area_in_sqmi=5.64, water_area_in_sqmi=0.71, housing_units=8322, occupied_housing_units=7807, median_home_value=834800, median_household_income=82075, bounds_west=-117.25896, bounds_east=-117.208362, bounds_north=32.752296, bounds_south=32.66296, zipcode='92106', polygon=[[-117.222541, 32.741227], [-117.222764, 32.741363], [-117.223434, 32.741771], [-117.223658, 32.741908], [-117.223696, 32.741861], [-117.223811, 32.741722], [-117.22385, 32.741676], [-117.224034, 32.741455], [-117.224049, 32.741438], [-117.224125, 32.741338], [-117.224227, 32.741231], [-117.224341, 32.741134], [-117.224485, 32.741036], [-117.224582, 32.740986], [-117.2247, 32.74094], [-117.224707, 32.740938], [-117.224986, 32.740865], [-117.225055, 32.740845], [-117.225263, 32.740789], [-117.225333, 32.740771], [-117.225892, 32.740623], [-117.226046, 32.740584], [-117.226224, 32.740528], [-117.226416, 32.740454], [-117.226601, 32.740367], [-117.226778, 32.740269], [-117.226945, 32.74016], [-117.227136, 32.740011], [-117.227382, 32.739781], [-117.227806, 32.739388], [-117.227823, 32.739371], [-117.227974, 32.739234], [-117.227979, 32.739231], [-117.228125, 32.739122], [-117.228485, 32.739333], [-117.229123, 32.73971], [-117.229079, 32.739857], [-117.229044, 32.739942], [-117.229031, 32.739967], [-117.228965, 32.740099], [-117.228915, 32.740192], [-117.228891, 32.74024], [-117.228804, 32.740321], [-117.228691, 32.7404], [-117.228682, 32.740403], [-117.228588, 32.740454], [-117.228543, 32.74084], [-117.228488, 32.741318], [-117.228468, 32.741502], [-117.228439, 32.741595], [-117.228415, 32.741638], [-117.228853, 32.742081], [-117.228274, 32.742776], [-117.22851, 32.742979], [-117.228338, 32.743191], [-117.228108, 32.742997], [-117.227971, 32.743149], [-117.227662, 32.743482], [-117.227485, 32.743327], [-117.226532, 32.744342], [-117.226961, 32.74466], [-117.226643, 32.745085], [-117.226715, 32.74513], [-117.226618, 32.745238], [-117.226329, 32.745565], [-117.226233, 32.745676], [-117.226452, 32.745874], [-117.225675, 32.746782], [-117.225848, 32.746924], [-117.224483, 32.748682], [-117.22435, 32.749068], [-117.223589, 32.750157], [-117.223139, 32.75073], [-117.223136, 32.750298], [-117.223118, 32.750222], [-117.223085, 32.750145], [-117.223077, 32.750133], [-117.223038, 32.750073], [-117.222977, 32.750009], [-117.222904, 32.749954], [-117.222957, 32.749895], [-117.223103, 32.749713], [-117.223106, 32.749707], [-117.22365, 32.748917], [-117.223763, 32.748754], [-117.223849, 32.748668], [-117.223704, 32.748561], [-117.223611, 32.748493], [-117.22356, 32.74844], [-117.223511, 32.748363], [-117.22351, 32.748362], [-117.223364, 32.748148], [-117.223263, 32.748], [-117.223167, 32.748089], [-117.222903, 32.748336], [-117.222885, 32.748362], [-117.222861, 32.748399], [-117.22282, 32.748476], [-117.222801, 32.748528], [-117.222783, 32.748584], [-117.222766, 32.748615], [-117.222736, 32.748672], [-117.222659, 32.748777], [-117.222492, 32.748967], [-117.222394, 32.749081], [-117.222298, 32.74919], [-117.222013, 32.749516], [-117.221918, 32.749626], [-117.221791, 32.749774], [-117.221412, 32.750219], [-117.221286, 32.750368], [-117.221538, 32.750527], [-117.221864, 32.750733], [-117.221933, 32.750791], [-117.221998, 32.75087], [-117.22204, 32.750948], [-117.222065, 32.751024], [-117.222074, 32.751082], [-117.222078, 32.751174], [-117.222091, 32.751431], [-117.222101, 32.751472], [-117.221434, 32.751562], [-117.219829, 32.752296], [-117.217671, 32.751728], [-117.218445, 32.749789], [-117.217763, 32.749489], [-117.217571, 32.749343], [-117.216998, 32.748905], [-117.216808, 32.748759], [-117.216745, 32.748724], [-117.216559, 32.748621], [-117.216497, 32.748588], [-117.216204, 32.748427], [-117.215548, 32.748067], [-117.215325, 32.747945], [-117.215033, 32.747785], [-117.214984, 32.747745], [-117.214973, 32.747736], [-117.216888, 32.746237], [-117.216765, 32.745464], [-117.21673, 32.745575], [-117.21665, 32.745825], [-117.216626, 32.745905], [-117.216602, 32.745952], [-117.216526, 32.746023], [-117.216451, 32.746076], [-117.214978, 32.74674], [-117.214932, 32.746765], [-117.214924, 32.74677], [-117.214894, 32.746793], [-117.214829, 32.746854], [-117.214811, 32.746879], [-117.214633, 32.747229], [-117.214599, 32.747259], [-117.214558, 32.747281], [-117.214511, 32.747293], [-117.214458, 32.747294], [-117.21419, 32.747152], [-117.21415, 32.747131], [-117.214103, 32.7471], [-117.214021, 32.747034], [-117.213943, 32.746946], [-117.213942, 32.746945], [-117.21382, 32.746716], [-117.213785, 32.746608], [-117.213765, 32.746485], [-117.213765, 32.7464], [-117.213768, 32.746098], [-117.213826, 32.746045], [-117.213918, 32.745967], [-117.214376, 32.745589], [-117.214529, 32.745463], [-117.214335, 32.745345], [-117.213756, 32.744993], [-117.213563, 32.744876], [-117.213542, 32.744863], [-117.213481, 32.744826], [-117.213461, 32.744814], [-117.213276, 32.744701], [-117.212722, 32.744363], [-117.212538, 32.744252], [-117.212142, 32.744031], [-117.211808, 32.743846], [-117.211807, 32.743845], [-117.210981, 32.743332], [-117.210597, 32.743094], [-117.210395, 32.742967], [-117.21004, 32.742744], [-117.209878, 32.742655], [-117.20978, 32.74261], [-117.209706, 32.742576], [-117.209555, 32.742539], [-117.209422, 32.742226], [-117.209023, 32.74129], [-117.208891, 32.740978], [-117.208362, 32.737605], [-117.209671, 32.735645], [-117.209129, 32.734899], [-117.209043, 32.734786], [-117.208786, 32.734451], [-117.208701, 32.734341], [-117.20876, 32.733871], [-117.208939, 32.732467], [-117.208999, 32.732], [-117.209071, 32.731475], [-117.209289, 32.7299], [-117.209362, 32.729376], [-117.209325, 32.729297], [-117.209216, 32.729059], [-117.20918, 32.728982], [-117.209265, 32.728862], [-117.209523, 32.728507], [-117.20961, 32.72839], [-117.209753, 32.728368], [-117.209805, 32.728358], [-117.209857, 32.728352], [-117.209961, 32.728336], [-117.210465, 32.728285], [-117.211236, 32.728209], [-117.211535, 32.728149], [-117.211815, 32.728143], [-117.212179, 32.728193], [-117.212323, 32.728182], [-117.212583, 32.72811], [-117.213026, 32.728124], [-117.213084, 32.728126], [-117.213461, 32.728027], [-117.213604, 32.728044], [-117.213845, 32.728055], [-117.213873, 32.728063], [-117.21393, 32.72808], [-117.213936, 32.728082], [-117.213968, 32.728143], [-117.21396, 32.728248], [-117.213956, 32.728308], [-117.215314, 32.727868], [-117.215387, 32.727752], [-117.215679, 32.727494], [-117.215743, 32.727407], [-117.215796, 32.72734], [-117.215939, 32.726982], [-117.215972, 32.726801], [-117.215959, 32.726729], [-117.215972, 32.726366], [-117.215959, 32.726295], [-117.215985, 32.726212], [-117.216251, 32.725882], [-117.216335, 32.725673], [-117.216336, 32.725673], [-117.21642, 32.725365], [-117.216513, 32.725066], [-117.216706, 32.724447], [-117.216739, 32.724265], [-117.216771, 32.724188], [-117.216862, 32.724144], [-117.216921, 32.724089], [-117.21694, 32.724012], [-117.216869, 32.723869], [-117.216942, 32.723568], [-117.217022, 32.723564], [-117.217059, 32.723562], [-117.217174, 32.723556], [-117.217212, 32.723555], [-117.217163, 32.723723], [-117.217017, 32.724231], [-117.216969, 32.724401], [-117.216922, 32.724559], [-117.216785, 32.725037], [-117.21674, 32.725197], [-117.216663, 32.725461], [-117.216598, 32.725686], [-117.216436, 32.726253], [-117.21636, 32.726519], [-117.216436, 32.726566], [-117.216664, 32.726709], [-117.216741, 32.726757], [-117.216837, 32.726816], [-117.217125, 32.726996], [-117.217221, 32.727057], [-117.217146, 32.727144], [-117.217095, 32.727178], [-117.217037, 32.727202], [-117.217008, 32.727209], [-117.217004, 32.72721], [-117.216234, 32.727487], [-117.215978, 32.72758], [-117.215944, 32.727592], [-117.215842, 32.727629], [-117.215809, 32.727642], [-117.215768, 32.727657], [-117.215722, 32.727674], [-117.21565, 32.727711], [-117.215612, 32.727733], [-117.215577, 32.727759], [-117.215554, 32.727777], [-117.215515, 32.727806], [-117.215482, 32.727843], [-117.21548, 32.727845], [-117.21546, 32.727883], [-117.215448, 32.727906], [-117.215443, 32.727922], [-117.215431, 32.727973], [-117.215431, 32.728041], [-117.215433, 32.728053], [-117.215444, 32.728096], [-117.216005, 32.727974], [-117.216182, 32.727936], [-117.216445, 32.727867], [-117.21672, 32.727781], [-117.216855, 32.727733], [-117.217622, 32.727387], [-117.217722, 32.727344], [-117.218142, 32.727143], [-117.218672, 32.726881], [-117.220219, 32.726118], [-117.220263, 32.726097], [-117.220291, 32.726085], [-117.220781, 32.725841], [-117.220794, 32.725835], [-117.220922, 32.72578], [-117.220956, 32.725768], [-117.221151, 32.725701], [-117.221319, 32.725654], [-117.221368, 32.725641], [-117.221455, 32.725622], [-117.221751, 32.725468], [-117.221948, 32.725367], [-117.222726, 32.725375], [-117.22306, 32.72538], [-117.223124, 32.725368], [-117.22314, 32.725352], [-117.223332, 32.725171], [-117.223397, 32.725111], [-117.223855, 32.725048], [-117.225229, 32.72486], [-117.225688, 32.7248], [-117.226222, 32.724791], [-117.226257, 32.724791], [-117.22653, 32.724708], [-117.226777, 32.724592], [-117.226979, 32.724471], [-117.227206, 32.724284], [-117.227427, 32.724064], [-117.227499, 32.72396], [-117.227519, 32.723922], [-117.227616, 32.723745], [-117.227726, 32.723432], [-117.227726, 32.723275], [-117.227729, 32.722808], [-117.22773, 32.722652], [-117.227731, 32.722426], [-117.227732, 32.72225], [-117.227752, 32.722063], [-117.227667, 32.722019], [-117.227667, 32.721991], [-117.227733, 32.721815], [-117.227797, 32.72165], [-117.227819, 32.721609], [-117.227908, 32.721441], [-117.227888, 32.721359], [-117.227745, 32.721199], [-117.227582, 32.721095], [-117.227193, 32.720855], [-117.226717, 32.720562], [-117.225741, 32.71999], [-117.225227, 32.719677], [-117.225155, 32.719743], [-117.224882, 32.719572], [-117.224895, 32.71949], [-117.224362, 32.719169], [-117.223387, 32.718582], [-117.223235, 32.71849], [-117.222909, 32.718317], [-117.222891, 32.718308], [-117.222708, 32.718253], [-117.222578, 32.718242], [-117.222448, 32.718253], [-117.222357, 32.718281], [-117.222234, 32.718358], [-117.22183, 32.718781], [-117.2216, 32.719034], [-117.221234, 32.719439], [-117.221143, 32.719538], [-117.221018, 32.719678], [-117.220933, 32.719744], [-117.220862, 32.719761], [-117.220822, 32.719762], [-117.220738, 32.719766], [-117.220687, 32.719758], [-117.220517, 32.719733], [-117.220515, 32.719732], [-117.220387, 32.719662], [-117.220243, 32.719519], [-117.220204, 32.71937], [-117.220205, 32.719351], [-117.220224, 32.719183], [-117.220226, 32.719179], [-117.220321, 32.71893], [-117.22038, 32.718738], [-117.220386, 32.718584], [-117.220373, 32.718182], [-117.220412, 32.718072], [-117.220581, 32.71783], [-117.220971, 32.717357], [-117.221608, 32.716686], [-117.221673, 32.716615], [-117.222402, 32.71597], [-117.222545, 32.715845], [-117.222675, 32.715718], [-117.222681, 32.715663], [-117.22261, 32.71552], [-117.22261, 32.715487], [-117.222642, 32.715465], [-117.222688, 32.715482], [-117.223039, 32.71579], [-117.223065, 32.71579], [-117.22369, 32.715305], [-117.223663, 32.715069], [-117.223702, 32.715042], [-117.224268, 32.714777], [-117.224827, 32.714475], [-117.225146, 32.714266], [-117.225745, 32.713897], [-117.22659, 32.713303], [-117.227, 32.712978], [-117.227169, 32.712868], [-117.228144, 32.712087], [-117.228794, 32.711515], [-117.229678, 32.710684], [-117.230595, 32.709744], [-117.230874, 32.709425], [-117.231258, 32.709029], [-117.231367, 32.70895], [-117.23183, 32.708621], [-117.232481, 32.708264], [-117.232825, 32.708137], [-117.233163, 32.708044], [-117.233924, 32.707917], [-117.234282, 32.707911], [-117.234588, 32.707928], [-117.234809, 32.70796], [-117.234913, 32.708037], [-117.234965, 32.708136], [-117.234965, 32.708251], [-117.234965, 32.70834], [-117.234955, 32.708395], [-117.2349, 32.708703], [-117.234834, 32.708807], [-117.23479, 32.708879], [-117.234751, 32.708927], [-117.234706, 32.708983], [-117.234549, 32.709066], [-117.234525, 32.709075], [-117.234289, 32.709176], [-117.233977, 32.709259], [-117.233731, 32.70926], [-117.233457, 32.709264], [-117.233444, 32.709264], [-117.233255, 32.709281], [-117.232904, 32.709363], [-117.232572, 32.709485], [-117.232345, 32.709611], [-117.232189, 32.709749], [-117.232185, 32.709752], [-117.231324, 32.71064], [-117.231161, 32.710717], [-117.230661, 32.711239], [-117.229764, 32.712175], [-117.229663, 32.712249], [-117.229484, 32.712384], [-117.229048, 32.712741], [-117.226564, 32.714667], [-117.226499, 32.714661], [-117.224529, 32.716119], [-117.224568, 32.716213], [-117.22462, 32.716245], [-117.224627, 32.716278], [-117.224588, 32.716356], [-117.22451, 32.716399], [-117.224432, 32.716499], [-117.224393, 32.716603], [-117.22436, 32.716625], [-117.224204, 32.71662], [-117.224191, 32.716653], [-117.224191, 32.716823], [-117.224797, 32.718396], [-117.224953, 32.71855], [-117.225155, 32.718681], [-117.226033, 32.719193], [-117.227295, 32.719924], [-117.227432, 32.71994], [-117.227523, 32.719929], [-117.227627, 32.719896], [-117.229051, 32.718295], [-117.229025, 32.718268], [-117.229025, 32.718229], [-117.229064, 32.718196], [-117.229051, 32.718147], [-117.229057, 32.718075], [-117.229084, 32.718038], [-117.229259, 32.717817], [-117.229311, 32.7178], [-117.229597, 32.717949], [-117.22961, 32.718048], [-117.230534, 32.718603], [-117.23084, 32.718801], [-117.230944, 32.71885], [-117.231302, 32.718844], [-117.231848, 32.718685], [-117.232837, 32.718294], [-117.233417, 32.718012], [-117.233721, 32.717865], [-117.234147, 32.717638], [-117.234417, 32.717496], [-117.234541, 32.717386], [-117.235366, 32.716363], [-117.235438, 32.716242], [-117.235632, 32.715741], [-117.235929, 32.714976], [-117.235989, 32.71482], [-117.236146, 32.714416], [-117.236158, 32.714351], [-117.236165, 32.714322], [-117.236146, 32.714256], [-117.236091, 32.714219], [-117.236042, 32.714185], [-117.23586, 32.714081], [-117.235664, 32.714004], [-117.235528, 32.713976], [-117.235456, 32.713971], [-117.235333, 32.713982], [-117.235164, 32.714037], [-117.235105, 32.714072], [-117.234903, 32.714196], [-117.234383, 32.714576], [-117.234104, 32.714769], [-117.233733, 32.715159], [-117.233616, 32.715187], [-117.233486, 32.715192], [-117.233349, 32.715154], [-117.233304, 32.715088], [-117.233304, 32.714989], [-117.233453, 32.714752], [-117.233765, 32.714389], [-117.23383, 32.714325], [-117.234149, 32.714021], [-117.234415, 32.713845], [-117.234695, 32.713736], [-117.234775, 32.713704], [-117.234799, 32.713696], [-117.235021, 32.713625], [-117.235027, 32.713624], [-117.235098, 32.713585], [-117.235176, 32.713542], [-117.235258, 32.713486], [-117.235404, 32.713388], [-117.235428, 32.713361], [-117.235449, 32.713333], [-117.235482, 32.713298], [-117.235658, 32.713093], [-117.235782, 32.712952], [-117.23592, 32.712792], [-117.235976, 32.712728], [-117.236054, 32.712623], [-117.236145, 32.712354], [-117.236229, 32.712249], [-117.236301, 32.712161], [-117.236332, 32.712068], [-117.236346, 32.712024], [-117.236361, 32.712004], [-117.236463, 32.711886], [-117.2365, 32.711847], [-117.236549, 32.711797], [-117.235835, 32.711146], [-117.236834, 32.710203], [-117.236963, 32.710082], [-117.236963, 32.710033], [-117.236992, 32.709987], [-117.237041, 32.709912], [-117.237054, 32.709813], [-117.237032, 32.709438], [-117.237028, 32.709351], [-117.237036, 32.70925], [-117.237053, 32.709014], [-117.23706, 32.708922], [-117.237028, 32.708867], [-117.23691, 32.708834], [-117.236878, 32.708779], [-117.236858, 32.708592], [-117.236879, 32.708413], [-117.236884, 32.708378], [-117.236947, 32.708189], [-117.236955, 32.708162], [-117.236982, 32.708081], [-117.236991, 32.708056], [-117.23702, 32.707971], [-117.237046, 32.707833], [-117.237027, 32.707817], [-117.236949, 32.707806], [-117.236923, 32.707399], [-117.236891, 32.707397], [-117.236819, 32.707393], [-117.236812, 32.706986], [-117.236935, 32.70697], [-117.236935, 32.706887], [-117.236839, 32.706833], [-117.236818, 32.706838], [-117.236805, 32.706876], [-117.236174, 32.706464], [-117.235979, 32.70631], [-117.236063, 32.706217], [-117.236342, 32.706401], [-117.236695, 32.706634], [-117.236851, 32.706772], [-117.236922, 32.706799], [-117.23692, 32.706733], [-117.236916, 32.706447], [-117.236805, 32.706128], [-117.236583, 32.705518], [-117.236948, 32.705397], [-117.236954, 32.705359], [-117.236889, 32.705161], [-117.236694, 32.70521], [-117.236629, 32.705221], [-117.236583, 32.705111], [-117.236453, 32.704677], [-117.236446, 32.704248], [-117.236455, 32.704001], [-117.236459, 32.703918], [-117.236381, 32.703858], [-117.236368, 32.703803], [-117.23629, 32.703803], [-117.236023, 32.703814], [-117.235978, 32.703823], [-117.235022, 32.704056], [-117.234983, 32.704023], [-117.234598, 32.702901], [-117.234735, 32.702868], [-117.2351, 32.703913], [-117.235542, 32.703803], [-117.235164, 32.702764], [-117.235275, 32.70272], [-117.235639, 32.703775], [-117.235938, 32.703715], [-117.235834, 32.703423], [-117.235847, 32.703396], [-117.235938, 32.703385], [-117.236056, 32.703687], [-117.236244, 32.703687], [-117.236381, 32.703693], [-117.236868, 32.703016], [-117.236979, 32.702933], [-117.23707, 32.702812], [-117.236822, 32.702708], [-117.23612, 32.702406], [-117.236139, 32.702307], [-117.236907, 32.702642], [-117.237096, 32.702713], [-117.237316, 32.702339], [-117.237414, 32.702218], [-117.237681, 32.701943], [-117.237609, 32.701872], [-117.237602, 32.701839], [-117.237616, 32.701778], [-117.237636, 32.701763], [-117.237824, 32.701641], [-117.238025, 32.701487], [-117.238116, 32.701311], [-117.23783, 32.701195], [-117.237641, 32.701108], [-117.236782, 32.70075], [-117.236353, 32.701477], [-117.236269, 32.701454], [-117.236249, 32.701443], [-117.236228, 32.701436], [-117.236171, 32.701411], [-117.236722, 32.700671], [-117.236811, 32.700344], [-117.237364, 32.699423], [-117.237549, 32.699117], [-117.237661, 32.699158], [-117.237712, 32.699177], [-117.237153, 32.700128], [-117.236854, 32.70064], [-117.238109, 32.701179], [-117.239061, 32.699562], [-117.239208, 32.699314], [-117.239318, 32.699364], [-117.239435, 32.699221], [-117.239399, 32.698539], [-117.239382, 32.698209], [-117.239369, 32.697956], [-117.239428, 32.697373], [-117.239482, 32.697105], [-117.239492, 32.697059], [-117.239551, 32.696845], [-117.23972, 32.696416], [-117.239784, 32.696245], [-117.239875, 32.695926], [-117.239885, 32.69583], [-117.239908, 32.695635], [-117.239908, 32.69531], [-117.239816, 32.694568], [-117.239842, 32.694227], [-117.239842, 32.693996], [-117.239713, 32.693682], [-117.239699, 32.693654], [-117.239698, 32.693639], [-117.239679, 32.693598], [-117.239633, 32.693485], [-117.239588, 32.693237], [-117.239516, 32.692627], [-117.239496, 32.692182], [-117.239528, 32.691824], [-117.239632, 32.691362], [-117.239651, 32.691225], [-117.239625, 32.691005], [-117.239482, 32.69045], [-117.239475, 32.690059], [-117.239462, 32.689922], [-117.239462, 32.689465], [-117.239436, 32.689339], [-117.239312, 32.689344], [-117.238981, 32.689421], [-117.238948, 32.689421], [-117.238903, 32.689372], [-117.238447, 32.688536], [-117.238217, 32.688631], [-117.236581, 32.689312], [-117.235788, 32.689659], [-117.235729, 32.689637], [-117.235691, 32.689563], [-117.235645, 32.689472], [-117.236463, 32.689121], [-117.236677, 32.68903], [-117.238037, 32.688459], [-117.23833, 32.688355], [-117.237881, 32.687552], [-117.237933, 32.68747], [-117.23803, 32.687409], [-117.238037, 32.68731], [-117.23803, 32.687255], [-117.237978, 32.687162], [-117.2379, 32.687118], [-117.237679, 32.686953], [-117.237561, 32.686895], [-117.237444, 32.686837], [-117.237249, 32.686772], [-117.23708, 32.686733], [-117.236788, 32.686728], [-117.23667, 32.6867], [-117.236482, 32.686607], [-117.236406, 32.686556], [-117.

In [10]:
'3' + '4'

'34'

In [10]:
## Using uszipcode library
df['Pop_2010'] = [search.by_zipcode(str(z)).population for z in df['Zip_Code']]
df['County'] = [search.by_zipcode(str(z)).county for z in df['Zip_Code']]
df['Major_City'] = [search.by_zipcode(str(z)).major_city for z in df['Zip_Code']]
df['PO_City'] = [search.by_zipcode(str(z)).post_office_city for z in df['Zip_Code']]
df['State'] = [search.by_zipcode(str(z)).state for z in df['Zip_Code']]

# Population traits
df['Population_by_age'] = [search.by_zipcode(str(z)).population_by_age for z in df['Zip_Code']]

In [ ]:
def getter(df, details):
    for s in details:
        detail = s.lower()
    df[s] = [search.by_zipcode(str(z)).detail for z in df['Zip_Code']]
    return df

In [ ]:
s = 'Population_by_age'
detail = s.lower()
search.by_zipcode(str(85018)).detail

In [ ]:
details = ['population_by_gender','population_by_race','head_of_household_by_age',
 'families_vs_singles','households_with_kids','children_by_age','median_household_income',
 'housing_type','owner_occupied_home_values','rental_properties_by_number_of_rooms',
 'employment_status','household_income','annual_individual_earnings',
 'educational_attainment_for_population_25_and_over', 'school_enrollment_age_3_to_17']

In [15]:
df.head()

,Zip_Code,City,State,Pop_2010,County,Major_City,PO_City
0,99546,Adak,AK,326.0,Aleutians West Census Area,Adak,"Adak, AK"
1,99571,Adak,AK,160.0,Aleutians East Borough,Cold Bay,"Cold Bay, AK"
2,99615,Akhiok,AK,12899.0,Kodiak Island Borough,Kodiak,"Kodiak, AK"
3,99551,Akiachak,AK,627.0,Bethel Census Area,Akiachak,"Akiachak, AK"
4,99552,Akiak,AK,346.0,Bethel Census Area,Akiak,"Akiak, AK"

In [16]:
## Using outside data source
zf = pd.read_csv('https://query.data.world/s/op67ehfhbfiugjxpzpr6rk3vfouzxp')
zf.columns = [col.replace('-', '_') for col in zf.columns]
common = set(df.Zip_Code) & set(zf.zip_code)
zf.set_index('zip_code', inplace=True)

In [17]:
zf.head()

          y_2016  y_2015  y_2014  y_2013  y_2012  y_2011  y_2010  aggregate
zip_code
601        17800   17982   18088   18450   18544   18533   18570     127967
602        39716   40260   40859   41302   41640   41930   41520     287227
603        51565   52408   53162   53683   54540   54475   54689     374522
606         6320    6331    6415    6591    6593    6386    6615      45251
610        27976   28328   28805   28963   29141   29111   29016     201340

In [18]:
## Using dataworld link

years = range(2011, 2017)
na = np.nan

for year in years:
    name, yr = 'Pop_{}'.format(year), 'y_{}'.format(year)
    df[name] = [zf.at[x, yr] if x in common else na for x in df.Zip_Code]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41318 entries, 0 to 41318
Data columns (total 13 columns):
Zip_Code      41318 non-null int64
City          41318 non-null object
State         41318 non-null object
Pop_2010      32987 non-null float64
County        41318 non-null object
Major_City    41318 non-null object
PO_City       32987 non-null object
Pop_2011      32987 non-null float64
Pop_2012      32987 non-null float64
Pop_2013      32987 non-null float64
Pop_2014      32987 non-null float64
Pop_2015      32987 non-null float64
Pop_2016      32987 non-null float64
dtypes: float64(7), int64(1), object(5)
memory usage: 4.4+ MB

In [20]:
df.head()

,Zip_Code,City,State,Pop_2010,County,Major_City,PO_City,Pop_2011,Pop_2012,Pop_2013,Pop_2014,Pop_2015,Pop_2016
0,99546,Adak,AK,326.0,Aleutians West Census Area,Adak,"Adak, AK",124.0,127.0,108.0,114.0,122.0,122.0
1,99571,Adak,AK,160.0,Aleutians East Borough,Cold Bay,"Cold Bay, AK",55.0,82.0,101.0,83.0,88.0,106.0
2,99615,Akhiok,AK,12899.0,Kodiak Island Borough,Kodiak,"Kodiak, AK",12609.0,12770.0,13009.0,13096.0,13197.0,13135.0
3,99551,Akiachak,AK,627.0,Bethel Census Area,Akiachak,"Akiachak, AK",644.0,638.0,606.0,590.0,562.0,584.0
4,99552,Akiak,AK,346.0,Bethel Census Area,Akiak,"Akiak, AK",331.0,364.0,392.0,407.0,399.0,407.0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41318 entries, 0 to 41318
Data columns (total 13 columns):
Zip_Code      41318 non-null int64
City          41318 non-null object
State         41318 non-null object
Pop_2010      32987 non-null float64
County        41318 non-null object
Major_City    41318 non-null object
PO_City       32987 non-null object
Pop_2011      32987 non-null float64
Pop_2012      32987 non-null float64
Pop_2013      32987 non-null float64
Pop_2014      32987 non-null float64
Pop_2015      32987 non-null float64
Pop_2016      32987 non-null float64
dtypes: float64(7), int64(1), object(5)
memory usage: 4.4+ MB

In [22]:
## Write the dataframe to a csv file.
df.to_csv('tjs_zipcodes_out.csv')