In [368]:
import pandas as pd
import numpy as np
from uszipcode import SearchEngine

In [369]:
search = SearchEngine(simple_zipcode=True)

In [370]:
df = pd.read_csv('tj_zips.csv')
df.rename(columns={'Zip Code': 'Zip_Code', 'Population (2010 Census)': 'Pop_2010' }, inplace=True)
df = df.iloc[:, :4]
df.dropna(subset=['Zip_Code'], inplace=True)
df.drop(df[df['Zip_Code'].str.contains(',')].index, inplace=True)
df['Zip_Code'] = df.Zip_Code.astype(np.int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41318 entries, 0 to 41318
Data columns (total 4 columns):
Zip_Code    41318 non-null int64
City        41318 non-null object
State       41318 non-null object
Pop_2010    33497 non-null object
dtypes: int64(1), object(3)
memory usage: 1.6+ MB

In [376]:
## Using uszipcode library
df['pop_2010_uszipcode'] = [search.by_zipcode(str(z)).population for z in df['Zip_Code']]

In [371]:
df.head()

   Zip_Code      City State Pop_2010
0     99546      Adak    AK      326
1     99571      Adak    AK      160
2     99615    Akhiok    AK   12,899
3     99551  Akiachak    AK      627
4     99552     Akiak    AK      346

In [372]:
zf = pd.read_csv('https://query.data.world/s/op67ehfhbfiugjxpzpr6rk3vfouzxp')
zf.columns = [col.replace('-', '_') for col in zf.columns]
common = set(df.Zip_Code) & set(zf.zip_code)
zf.set_index('zip_code', inplace=True)

In [373]:
zf.head()

          y_2016  y_2015  y_2014  y_2013  y_2012  y_2011  y_2010  aggregate
zip_code
601        17800   17982   18088   18450   18544   18533   18570     127967
602        39716   40260   40859   41302   41640   41930   41520     287227
603        51565   52408   53162   53683   54540   54475   54689     374522
606         6320    6331    6415    6591    6593    6386    6615      45251
610        27976   28328   28805   28963   29141   29111   29016     201340

In [374]:
## Using dataworld link
year = 2010
name = 'Pop_{}_dataworld'.format(year)
yr = 'y_{}'.format(year)
df[name] = [zf.at[x, yr] if x in common else np.nan for x in df.Zip_Code]

In [377]:
df.head()

   Zip_Code      City State Pop_2010  Pop_2010_dataworld  pop_2010_uszipcode
0     99546      Adak    AK      326               326.0               326.0
1     99571      Adak    AK      160               160.0               160.0
2     99615    Akhiok    AK   12,899             12899.0             12899.0
3     99551  Akiachak    AK      627               627.0               627.0
4     99552     Akiak    AK      346               346.0               346.0

In [365]:
(zf.at[x, 'y_2015'] for x in common)

[value if value satistifes some condition else other_value for y in a]

In [366]:
df['Pop_2010_dataworld'] = [zf.at[x, 'y_2015'] if x in common else np.nan for x in df.Zip_Code]

In [325]:
df[df.pop_2010_uszipcode != df.Pop_2010_dataworld]

,Zip_Code,City,State,Pop_2010,pop_2010_uszipcode,Pop_2016,Pop_2010_dataworld
20,99509,Anchorage,AK,NaN,NaN,NaN,NaN
22,99511,Anchorage,AK,NaN,NaN,NaN,NaN
24,99514,Anchorage,AK,0,NaN,NaN,NaN
30,99520,Anchorage,AK,--,NaN,NaN,NaN
31,99521,Anchorage,AK,--,NaN,NaN,NaN
32,99522,Anchorage,AK,--,NaN,NaN,NaN
33,99523,Anchorage,AK,--,NaN,NaN,NaN
34,99524,Anchorage,AK,--,NaN,NaN,NaN
35,99529,Anchorage,AK,--,NaN,NaN,NaN
36,99530,Anchorage,AK,--,NaN,NaN,NaN
38,99599,Anchorage,AK,--,NaN,NaN,NaN
48,99821,Auke Bay,AK,--,NaN,NaN,NaN
49,99711,Badger,AK,--,NaN,NaN,NaN
88,99731,Delta Jct,AK,--,NaN,NaN,NaN
98,99950,Edna Bay,AK,--,NaN,NaN,NaN
107,99725,Ester,AK,--,NaN,NaN,NaN
110,99707,Fairbanks,AK,--,NaN,NaN,NaN
111,99708,Fairbanks,AK,--,NaN,NaN,NaN
113,99710,Fairbanks,AK,--,NaN,NaN,NaN
116,99716,Fairbanks,AK,--,NaN,NaN,NaN
147,99802,Juneau,AK,--,NaN,NaN,NaN
148,99803,Juneau,AK,--,NaN,NaN,NaN
149,99811,Juneau,AK,--,NaN,NaN,NaN
150,99812,Juneau,AK,--,NaN,NaN,NaN
151,99850,Juneau,AK,--,NaN,NaN,NaN
156,99608,Karluk,AK,--,NaN,NaN,NaN
160,99635,Kenai,AK,--,NaN,NaN,NaN
170,99619,Kodiak,AK,--,NaN,NaN,NaN
171,99697,Kodiak,AK,--,NaN,NaN,NaN
172,99545,Kongiganak,AK,--,NaN,NaN,NaN
...,...,...,...,...,...,...,...
41034,26434,Shirley,WV,NaN,NaN,NaN,NaN
41035,25562,Shoals,WV,NaN,NaN,NaN,NaN
41037,26058,Short Creek,WV,NaN,NaN,NaN,NaN
41041,25919,Skelton,WV,NaN,NaN,NaN,NaN
41053,25986,Spring Dale,WV,NaN,NaN,NaN,NaN
41056,25927,Stanaford,WV,NaN,NaN,NaN,NaN
41067,25569,Teays,WV,NaN,NaN,NaN,NaN
41098,24985,Wayside,WV,NaN,NaN,NaN,NaN
41108,24895,Wilcoe,WV,NaN,NaN,NaN,NaN
41117,24993,Wolfcreek,WV,NaN,NaN,NaN,NaN
41118,24751,Wolfe,WV,NaN,NaN,NaN,NaN
41120,26463,Wyatt,WV,NaN,NaN,NaN,NaN
41121,25943,Wyco,WV,NaN,NaN,NaN,NaN
41159,82840,Buffalo,WY,NaN,NaN,NaN,NaN
41167,82602,Casper,WY,NaN,NaN,NaN,NaN
41169,82605,Casper,WY,NaN,NaN,NaN,NaN
41170,82615,Casper,WY,NaN,NaN,NaN,NaN
41175,82002,Cheyenne,WY,NaN,NaN,NaN,NaN
41176,82003,Cheyenne,WY,NaN,NaN,NaN,NaN
41178,82006,Cheyenne,WY,NaN,NaN,NaN,NaN
41180,82008,Cheyenne,WY,NaN,NaN,NaN,NaN
41181,82010,Cheyenne,WY,NaN,NaN,NaN,NaN
41205,82931,Evanston,WY,NaN,NaN,NaN,NaN
41219,82717,Gillette,WY,NaN,NaN,NaN,NaN
41240,82218,Huntley,WY,NaN,NaN,NaN,NaN
41242,83002,Jackson,WY,NaN,NaN,NaN,NaN
41245,82310,Jeffrey City,WY,NaN,NaN,NaN,NaN
41257,82071,Laramie,WY,NaN,NaN,NaN,NaN
41293,82902,Rock Springs,WY,NaN,NaN,NaN,NaN
41296,82524,Saint Stephens,WY,NaN,NaN,NaN,NaN

In [236]:
zf.head()

          y_2016  y_2015  y_2014  y_2013  y_2012  y_2011  y_2010  aggregate
zip_code
601        17800   17982   18088   18450   18544   18533   18570     127967
602        39716   40260   40859   41302   41640   41930   41520     287227
603        51565   52408   53162   53683   54540   54475   54689     374522
606         6320    6331    6415    6591    6593    6386    6615      45251
610        27976   28328   28805   28963   29141   29111   29016     201340

In [235]:
df.head()

   Zip Code      City State Population (2010 Census)
0     99546      Adak    AK                      326
1     99571      Adak    AK                      160
2     99615    Akhiok    AK                   12,899
3     99551  Akiachak    AK                      627
4     99552     Akiak    AK                      346

In [234]:
for x in df['Zip Code']:

KeyError: 99509

In [182]:
zp.loc[99551].pop

<bound method NDFrame.pop of city                    AKIACHAK
loc      [-161.39233, 60.891854]
pop                          481
state                         AK
Name: 99551, dtype: object>

In [156]:
s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29353 entries, 1001 to 99950
Data columns (total 1 columns):
pop    29353 non-null int64
dtypes: int64(1)
memory usage: 458.6 KB

In [117]:
df['Zip Code'].apply(lambda x: s.iat[x])

IndexError: index 99546 is out of bounds for axis 0 with size 29353

In [116]:
s.

Int64Index([ 1001,  1002,  1005,  1007,  1008,  1010,  1011,  1012,  1013,
             1020,
            ...
            99901, 99919, 99921, 99922, 99923, 99925, 99926, 99927, 99929,
            99950],
           dtype='int64', name='_id', length=29353)

In [54]:
zp.index

Int64Index([ 1001,  1002,  1005,  1007,  1008,  1010,  1011,  1012,  1013,
             1020,
            ...
            99901, 99919, 99921, 99922, 99923, 99925, 99926, 99927, 99929,
            99950],
           dtype='int64', name='_id', length=29353)

ValueError: invalid literal for int() with base 10: '10,190'

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74006 entries, 0 to 74005
Data columns (total 4 columns):
Zip Code                    41319 non-null object
City                        41319 non-null object
State                       41319 non-null object
Population (2010 Census)    33498 non-null object
dtypes: object(4)
memory usage: 2.3+ MB

In [48]:
def zipcode_pops(zipcode):
    if zipcode:
        pop = search.by_zipcode(str(zipcode)).population
        if pop:
            return int(pop)
        else:
            return 0
    else:
        pass

In [16]:
df['pop_2010'] = df['Population (2010 Census)'].apply(lambda x: zipcode_pops)

In [44]:
test.pop_2010.isna()[:5]

20        True
22        True
20185     True
33501    False
33502     True
33503     True
33504     True
33505    False
33506    False
33507     True
33508     True
33509     True
33510    False
33511    False
33512    False
33513    False
33514    False
33515     True
33516    False
33517    False
33518    False
33519    False
33520    False
33521    False
33522    False
33523    False
33524    False
33525    False
33526    False
33527    False
         ...
73976     True
73977     True
73978     True
73979     True
73980     True
73981     True
73982     True
73983     True
73984     True
73985     True
73986     True
73987     True
73988     True
73989     True
73990     True
73991     True
73992     True
73993     True
73994     True
73995     True
73996     True
73997     True
73998     True
73999     True
74000     True
74001     True
74002     True
74003     True
74004     True
74005     True
Name: pop_2010, Length: 40508, dtype: bool

In [18]:
df2 = df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74006 entries, 0 to 74005
Data columns (total 5 columns):
Zip Code                    41319 non-null object
City                        41319 non-null object
State                       41319 non-null object
Population (2010 Census)    33498 non-null object
pop_2010                    2056 non-null float64
dtypes: float64(1), object(4)
memory usage: 2.8+ MB

In [54]:
df['pop_2010'] = [search.by_zipcode(str(z)).population for z in df['Zip Code']]

In [55]:
df.head()

  Zip Code      City State Population (2010 Census)  pop_2010
0    99546      Adak    AK                      326     326.0
1    99571      Adak    AK                      160     160.0
2    99615    Akhiok    AK                   12,899   12899.0
3    99551  Akiachak    AK                      627     627.0
4    99552     Akiak    AK                      346     346.0

In [57]:
df.to_csv('tjs_zipcodes_out.csv')

In [58]:
df[df['Population (2010 Census)'].isna()]

      Zip Code              City State Population (2010 Census)  pop_2010
20       99509         Anchorage    AK                      NaN       NaN
22       99511         Anchorage    AK                      NaN       NaN
20185    65055           Mc Girk    MO                      NaN       NaN
33501    38401          Columbia    TN                      NaN   54469.0
33502    38402          Columbia    TN                      NaN       NaN
33503    38223              Como    TN                      NaN       NaN
33504    37316         Conasauga    TN                      NaN       NaN
33505    37922           Concord    TN                      NaN   33180.0
33506    37934           Concord    TN                      NaN   24107.0
33507    37933  Concord Farragut    TN                      NaN       NaN
33508    38502        Cookeville    TN                      NaN       NaN
33509    38503        Cookeville    TN                      NaN       NaN
33510    38505        Cookeville    TN                      NaN    1806.0
33511    38506        Cookeville    TN                      NaN   26521.0
33512    37317        Copperhill    TN                      NaN    2403.0
33513    38016           Cordova    TN                      NaN   43079.0
33514    38018           Cordova    TN                      NaN   35059.0
33515    38088           Cordova    TN                      NaN       NaN
33516    37047      Cornersville    TN                      NaN    2345.0
33517    37721          Corryton    TN                      NaN   12733.0
33518    37722             Cosby    TN                      NaN    6060.0
33519    38224     Cottage Grove    TN                      NaN     956.0
33520    37048        Cottontown    TN                      NaN    6030.0
33521    38326            Counce    TN                      NaN    2560.0
33522    38019         Covington    TN                      NaN   15601.0
33523    37318             Cowan    TN                      NaN    1978.0
33524    37723      Crab Orchard    TN                      NaN     944.0
33525    38554          Crawford    TN                      NaN     827.0
33526    38021    Crockett Mills    TN                      NaN      59.0
33527    37049        Cross Plns    TN                      NaN    3244.0
...        ...               ...   ...                      ...       ...
73976      NaN               NaN   NaN                      NaN       NaN
73977      NaN               NaN   NaN                      NaN       NaN
73978      NaN               NaN   NaN                      NaN       NaN
73979      NaN               NaN   NaN                      NaN       NaN
73980      NaN               NaN   NaN                      NaN       NaN
73981      NaN               NaN   NaN                      NaN       NaN
73982      NaN               NaN   NaN                      NaN       NaN
73983      NaN               NaN   NaN                      NaN       NaN
73984      NaN               NaN   NaN                      NaN       NaN
73985      NaN               NaN   NaN                      NaN       NaN
73986      NaN               NaN   NaN                      NaN       NaN
73987      NaN               NaN   NaN                      NaN       NaN
73988      NaN               NaN   NaN                      NaN       NaN
73989      NaN               NaN   NaN                      NaN       NaN
73990      NaN               NaN   NaN                      NaN       NaN
73991      NaN               NaN   NaN                      NaN       NaN
73992      NaN               NaN   NaN                      NaN       NaN
73993      NaN               NaN   NaN                      NaN       NaN
73994      NaN               NaN   NaN                      NaN       NaN
73995      NaN               NaN   NaN                      NaN       NaN
73996      NaN               NaN   NaN                      NaN       NaN
73997      NaN               NaN   NaN                      NaN       NaN
73998      NaN               NaN   NaN                      NaN       NaN
73999      NaN               NaN   NaN                      NaN       NaN
74000      NaN               NaN   NaN                      NaN       NaN
74001      NaN               NaN   NaN                      NaN       NaN
74002      NaN               NaN   NaN                      NaN       NaN
74003      NaN               NaN   NaN                      NaN       NaN
74004      NaN               NaN   NaN                      NaN       NaN
74005      NaN               NaN   NaN                      NaN       NaN

[40508 rows x 5 columns]

In [38]:
if search.by_zipcode(str(37049)).population:
    print('hi')
else:
    print('no')

hi

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74006 entries, 0 to 74005
Data columns (total 5 columns):
Zip Code                    41319 non-null object
City                        41319 non-null object
State                       41319 non-null object
Population (2010 Census)    33498 non-null object
pop_2010                    32987 non-null float64
dtypes: float64(1), object(4)
memory usage: 2.8+ MB

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74006 entries, 0 to 74005
Data columns (total 5 columns):
Zip Code                    41319 non-null object
City                        41319 non-null object
State                       41319 non-null object
Population (2010 Census)    33498 non-null object
pop_2010                    32987 non-null float64
dtypes: float64(1), object(4)
memory usage: 2.8+ MB